.header__logo {
  width: 142px;
  height: 32px;
  background-image: url(/src/images/Vector.svg);
  background-size: cover;
}
@media (max-width: 680px) {
  .header__logo {
    width: 103.74px;
    height: 24.4px;
    margin-left: 27px;
  }
}
