.header__logo {
  width: 138px;
  height: 32px;
  background-image: url(/src/images/Vector.svg);
  background-size: cover;
}
@media (max-width: 680px) {
  .header__logo {
    width: 97px;
    height: 22px;
    margin-left: 27px;
  }
}
