.popup__close {
  color: white;
  width: 40px;
  background: transparent;
  border: none;
  position: absolute;
  padding: 0;
  margin: 0;
  top: -40px;
  right: -40px;
  cursor: pointer;
  transform: rotate(-45deg);
}
@media (max-width: 500px) {
  .popup__close {
    width: 26px;
    top: -35px;
    right: 0px;
  }
}
