.popup__close_cards {
  color: white;
  width: 40px;
  background: transparent;
  border: none;
  position: absolute;
  padding: 0;
  margin: 0;
  top: -37px;
  right: -37px;
  cursor: pointer;
  transform: rotate(-45deg);
}
@media (max-width: 500px) {
  .popup__close_cards {
    width: 26px;
    top: -35px;
    right: 0px;
  }
}
