.profile__botton {
  background-color: black;
  border: 0px;
}
.profile__botton:hover {

  background-image: url("../../../images/pen.svg");
  background-repeat: no-repeat;
  background-position: 43%;
  opacity: 1;
}
