.popup__container {
  display: flex;
  position: absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  flex-direction: column;

  justify-content: center;
  box-sizing: border-box;
  max-width: 430px;
  width: 100%;
  background-color: white;
  border-radius: 10px;
  padding: 34px 36px 0 36px;

}
@media (max-width: 500px) {
  .popup__container {
    max-width: 282px;
    padding: 25px 22px 0 22px;
  }
}
