.profile__edit-name {
  display: flex;
  flex-direction: row;

}
@media (max-width: 500px) {
  .profile__edit-name {
    justify-content: center;
    align-items: center;
    padding-left: 30px;
  }
}
