.menu__item {
    color: #fff;
    text-decoration: none;
    font-size: 24px;
    margin: 0 24px 0 0;
}

@media (max-width: 680px) {
    .menu__item {
        
        font-size: 20px;
        margin: 0;
    }
  }
  