.menu__auth-link {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    text-align: right;
    color: white;
    cursor: pointer;
    text-decoration: none;
}